:root {
  /* color */
  --color-white: #ffffff;
  --color-light-black: #00000057;
  --color-black: black;
  --color-pink: #fbeccdcb;
  --color-orange: #feb546;
  --color-yellow: #fff7d1;

  /* font-size */
  --font-large: 3rem;
  --font-medium: 1.75rem;
  --font-regular: 1.125rem;
  --font-small: 1rem;
  --font-micro: 0.875rem;

  /* Font weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* size */
  --size-width: 28.125rem;
  --size-height: 10rem;
  --border-radius: 0.25rem;
  --padding-space: 1.25rem;
  --count-height: 1.875rem;

  /* animation duration */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
  outline: none;
  border: none;
  transition: all var(--animation-duration) ease;
}

button:hover {
  transform: scale(1.05);
}

button:active {
  transform: translateY(calc(var(--font-small) / 5.3));
}

body {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  background: url(img/background.png) center/cover no-repeat;
  overflow: hidden;
}

#container {
  position: absolute;
  top: 5%;
  left: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: translate(-50%, -50%);
}
.play,
.stop,
.play__time,
.count {
  margin-bottom: calc(var(--padding-space) / 3);
}
.play {
  position: absolute;
  width: calc(var(--size-width) / 5);
  border-radius: calc(var(--border-radius) * 2);
  border: solid var(--color-black);
  padding: calc(var(--padding-space) / 2);
  font-size: var(--font-medium);
  background-color: var(--color-yellow);
}

.stop {
  width: calc(var(--size-width) / 5);
  border-radius: calc(var(--border-radius) * 2);
  border: solid var(--color-black);
  padding: calc(var(--padding-space) / 2);
  font-size: var(--font-medium);
  background-color: var(--color-yellow);
}

.invisible {
  opacity: 0;
  pointer-events: none;
}

.play__time {
  position: absolute;
  transform: translateY(calc(var(--font-large) * 1.25));

  width: calc(var(--size-width) / 2);
  text-align: center;
  border-radius: calc(var(--border-radius) * 2);
  border: calc(var(--font-small) / 5.3) solid var(--color-black);
  padding: calc(var(--padding-space) / 2);
  font-size: var(--font-medium);
  background-color: var(--color-white);
}
.count {
  width: calc(var(--font-small) * 5);
  position: absolute;
  transform: translateY(calc(var(--font-large) * 2.5));
  text-align: center;
  border-radius: 50%;
  border: calc(var(--font-small) / 5.3) solid var(--color-black);
  padding: var(--padding-space);
  font-size: var(--font-medium);
  background-color: var(--color-pink);
  margin-bottom: 0;
}

.carrot__count {
  height: var(--count-height);
  line-height: var(--count-height);
  font-size: var(--font-medium);
}

.result {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  min-width: calc(var(--font-small) / 0.53);
  height: calc(var(--size-height) * 1.4);
  background-color: var(--color-light-black);
  border-radius: calc(var(--border-radius) * 5);
  font-size: var(--font-large);
}

.redo {
  width: calc(var(--size-width) / 8);
  height: calc(var(--size-height) / 3);
  margin-bottom: var(--padding-space);
  border-radius: calc(var(--border-radius) * 2);
  font-size: var(--font-regular);
  background-color: var(--color-yellow);
}

#img__container {
  background-color: var(--color-pink);
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
}

.bugImgs,
.carrotImgs {
  position: absolute;
  width: calc(var(--font-small) * 3.125);
  height: calc(var(--font-small) * 3.125);
  transition: all var(--animation-duration) ease;
}

.bugImgs:hover {
  width: calc(var(--font-large) * 1.1);
  height: calc(var(--font-large) * 1.1);
}
.carrotImgs:hover:hover {
  width: calc(var(--font-large) * 1.2);
  height: calc(var(--font-large) * 1.2);
}

@media screen and (max-width: 800px) {
  :root {
    /* Font size */
    --font-large: 1.875rem;
    --font-medium: 1.125rem;
    --font-regular: 1rem;
    --font-small: 0.875rem;
    --font-micro: 0.75rem;
    --padding-space: calc(var(--font-small) * 0.625);
  }
  body {
    background: url(img/backgroundM.png) center/cover no-repeat;
  }

  .result {
    height: calc(var(--size-height) / 1.5);
    border-radius: calc(var(--border-radius) * 5);
    font-size: var(--font-large);
  }
  .bugImgs,
  .carrotImgs {
    position: absolute;
    width: calc(var(--font-small));
    height: calc(var(--font-small));
    transition: all var(--animation-duration) ease;
  }
}

@media screen and (max-width: 600px) {
  body {
    background: url(img/backgroundM.png) center/cover no-repeat;
  }
  .result {
    width: 100%;
  }
}
